@font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 100;
    src: local("Nunito"), url("./App/fonts/Nunito-Regular.ttf") format("truetype");
}

* {
    font-family: Nunito, Verdana, Geneva, sans-serif;
}

html, body {
    background: #F8F8F8;
    background-size: cover;
}

.event-page {
    text-align: left;
    margin-top: 20px;
}

.header {
    height: 70px;
    text-align: center;
    background-color: rgb(40, 44, 52);
    -webkit-box-shadow: 0px 2px 8px #24292e;
    -moz-box-shadow: 0px 2px 8px #24292e;
    box-shadow: 0px 2px 8px #24292e;
}

.content {
    background: #F8F8F8;
    padding-top: 40px;
}

.content h3 {
    color: #058fd7;
}

.logo {
    background: rgb(40, 44, 52);
    float: left;
    margin: 10px;
    height: 50px;
    width: auto;
}

.dropdown {
    top: 15px;
}

.dropdown-toggle {
    margin-left: -100px;
    border: none;
    color: #058fd7;
    font-size: 170%;
    background-color: rgb(40, 44, 52);;
}

.dropdown-item {
    font-size: 120%;
}

.dropdown-menu.show {
    background-color: rgb(40, 44, 52);
    color: #058fd7;
}

.dropdown-toggle:active,
.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none;
}

textarea.form-control {
    background: #F8F8F8;
    color: #6c757d;
    border: none;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
}

input.form-control {
    background: #F8F8F8;
    color: #6c757d;
    border: none;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
}

label {
    color: #058fd7;
}

#datepicker-div {
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
}

.rdtStatic .rdtPicker {
    background: #F8F8F8;
    color: #6c757d;
    font-size: 1rem;
}

.rdtPicker .rdtTimeToggle {
    color: #058fd7;
}

.react-datepicker__time-list {
    padding-left: 0;
}

div.fileContainer {
    top: 100%;
    background: #F8F8F8;
    color: #058fd7;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.chooseFileButton {
    background-color: #058fd7;
    color: #3f4257;
}

.form-buttons {
    background-color: #058fd7;
    color:rgb(40, 44, 52);
    padding: 6px 23px;
    border-radius: 30px;
    font-weight: 300;
    font-size: 14px;
    margin: 20px 0;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.05);
}

.form-buttons :active,
.form-buttons :focus,
.form-buttons, select {
    outline: none !important;
    box-shadow: none;
    text-transform: none;
}

.submit-div {
    text-align: center;
}
